@use "../../../variables" as s;

.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  input {
    font-family: s.$fontFamily;
    font-size: 1.2rem;
    border: 2px solid black;
    border-right: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 30px;
    width: 30px;
    padding-left: 10px;
  }
}
