@use "../../../variables" as s;

h1 {
  color: s.$fontColor;
}

.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  max-width: 350px;
  width: 100%;
  background-color: s.$mainBlue;
  padding: 20px 0;
}

.menu-image {
  max-width: 250px;
  width: 100%;
}

.menu-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: s.$fontFamily;
  color: s.$fontColor;

  h1 {
    font-size: 2.2rem;
    color: white;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    color: s.$fontColor;
    text-align: center;
  }
}

.menu-extras {
  display: flex;
  justify-content: space-between;

  span {
    margin: 5px 10px;
  }
}
