@use "../../../variables" as s;

html {
  scroll-behavior: smooth;
}

.breaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 100%;
  background-color: s.$secondaryColor;
  color: white;
  font-family: s.$fontFamily;

  h1 {
    color: white;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: s.$mainBlue;
    margin-top: 5px;
    text-align: center;

    &:hover {
      color: #d4af37;
    }
  }

  p {
    text-align: center;
  }
}

.menu-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: s.$mainBlue;
  scroll-margin-top: 70px;
}

.cookies-loading {
  text-align: center;
  color: black;
  font-family: s.$fontFamily;
}

.cookies-error {
  text-align: center;
  color: red;
  font-family: s.$fontFamily;
}
