@use "../../../variables" as s;

html {
  scroll-behavior: smooth;
}

.res-section-two-top {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: s.$secondaryColor;
}

.res-section-two-main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: s.$mainBlue;
}

.breaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  max-width: 1400px;
  background-color: s.$secondaryColor;
  color: white;
  font-family: s.$fontFamily;

  h1 {
    color: white;
    text-align: center;
  }

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: s.$mainBlue;
    margin-top: 5px;
    text-align: center;

    &:hover {
      color: white;
    }
  }

  p {
    text-align: center;
  }
}

.menu-results {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: s.$mainBlue;
  scroll-margin-top: 70px;
}

.cookies-loading {
  text-align: center;
  color: black;
  font-family: s.$fontFamily;
}

.cookies-error {
  text-align: center;
  color: red;
  font-family: s.$fontFamily;
}
