@use "../../../variables" as s;

.about-cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 50px 0;
}

.about-cards {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.about-cards,
.about-card-middle {
  background-color: white;
  padding: 10px;
  width: 80%;
  min-height: 125px;
  margin: 50px 0;

  p {
    color: s.$mainBlue;
  }
}

.about-card-middle {
  align-self: flex-end;
  text-align: end;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 425px) {
  .about-cards-wrapper {
    align-items: center;
    width: 90%;
    padding: 25px 0;
  }

  .about-cards,
  .about-card-middle {
    border-radius: 20px;
    margin: 25px 0;
  }

  .about-card-middle {
    text-align: start;
    align-self: center;
  }
}
