@use "../../../variables" as s;

.res-about-top {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: s.$secondaryColor;
}

.res-about-main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  background-color: s.$mainBlue;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 70px;
  width: 100%;
  // max-width: 1400px;
  height: auto;
  background-color: s.$mainBlue;
  font-family: s.$fontFamily;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 175px;
  background-color: s.$secondaryColor;

  h1 {
    color: white;
    font-family: s.$fontFamily;
    font-size: 2.2rem;
    text-align: center;
  }
}
