@use "../../../variables" as s;

.nav-bar {
  height: 100%;
  width: 30%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background-color: red;

  a {
    text-decoration: none;
    color: s.$btnBackground;
    font-family: s.$fontFamily;
    padding: 5px;

    &:hover {
      color: white;
    }
  }
}

.checkout-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  height: 100%;
  overflow: hidden;
  // background-color: blue;
}

.checkoutcart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 60px;
  min-width: 40px;
  border-style: none;
  border-radius: 20px;
  border-width: 1px;
  background-color: s.$btnBackground;
  color: black;

  &:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    // background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
}

.checkoutcart {
  height: 20px;
  width: 20px;
}

.badge {
  font-size: 1.5rem;
  font-family: s.$fontFamily;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .checkout-wrapper {
    width: 40%;
  }

  .nav-bar {
    display: none;
  }
}
