@use "../../../variables" as s;

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;

  h1 {
    font-family: "Nerko One", cursive;
    font-size: 1.8rem;
    color: black;
    white-space: nowrap;
  }
}

@media (max-width: 375px) {
  .logo-wrapper {
    h1 {
      font-size: 1.4rem;
    }
  }
}
