@use "../../../variables" as s;

.header-container {
  height: 70px;
  width: 100%;
  background-color: s.$mainBlue;
  border-bottom: 2px solid s.$fontColor;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  height: 65px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  // background-color: orange;
}
