$fontFamily: "Nerko One", cursive;
// $mainBlue: #f9f4ef;
// $fontColor: rgb(34, 34, 34)
$mainBlue: rgb(34, 34, 34);
// $fontColor: #716040;
// $secondaryColor: #716040;
$fontColor: #ad9b79;
$secondaryColor: #ad9b79;
$btnBackground: #d4af37;
// $btnBackground: #503cb3;
$lightGray: rgb(255, 255, 255);
